{{page-title "Index"}}

<main class="flex justify-center" tabindex="0">
  <div class="panel-container w-full max-w-4xl">
    <h1 data-test-home-page-title>Diamanias</h1>
    <section class="grid">
      {{#each @model as |panel|}}
        <Panel @panel={{panel}} />
      {{/each}}
    </section>
  </div>
</main>

<InfinityLoader @infinityModel={{@model}} />

{{outlet}}
